.board {
    display: flex;
    background-color: #343738;
    height: calc(100vh - 4.5em);

    .board-column {
        flex: 1;
        margin: 0 .1em;
        border-radius: 3px;
        background-color: #848282;
        border: 1px solid lightgrey;

        .board-column__title {
            color: #fff;
            padding: .5em;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        .board-column__tickets {
            overflow-y: auto;
            height: calc(100vh - 7.2em);

            &.droppable {
                box-shadow: inset 0px 0px 100px 3px rgba(52, 55, 56, 0.5);
            }
        }
    }
}