.categories {
    padding: 1em;

    .category {
        margin-bottom: 2em;
    }

    .category__prop {
        display: flex;
        padding: .5em 0;
        align-items: center;

        span:first-child {
            font-weight: 700;
            margin-right: 1em;
        }
    }

    .category__color {
        width: 5em;
        height: 2.5em;
        padding: .2em;

        &:hover {
            cursor: pointer;
        }
    }
}