.columns {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .column_protected,
    .columns-list {
        width: 60%;

        .column {
            position: relative;
            margin: 1em 0;
            height: 2.5em;
            line-height: 2.5em;
            border-radius: 3px;
            text-align: center;
            background-color: rgba(85, 85, 85, .5);
            box-shadow: inset 0px 0px 10px 1px rgba(232, 220, 220, 0.75);

            &.sortable-ghost {
                box-shadow: inset 0px 0px 30px 3px rgba(52, 55, 56, 0.3);
            }
        }

        .column_removable {
            right: 1em;
            position: absolute;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .columns-list .column:hover {
        cursor: move;
    }

    .save-columns-order {
        width: 60%;
        color: #fff;
        padding: 0;
        margin: .5em;
        font-size: 1em;
        border: none;
        background-color: #355039;
    }
}


