body, html {
    height: 100%;
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;

        ::-webkit-scrollbar {
            width: 7px;
        }

        ::-webkit-scrollbar-track {
            background: #848282;
        }

        ::-webkit-scrollbar-thumb {
            background: #bdbc29;
            border-radius: 7px;
        }

        user-select: none;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #343738;
    padding: 0 3.5em;
    font-size: .9em;

    a {
        text-decoration: none;
    }
}

.form {
    padding: .5em;

    .row {
        display: flex;
        margin: 1em 0;
        align-items: center;

        span {
            margin-right: 1em;
        }
    }


    .error {
        color: #cb5656;
    }

    button.btn {
        color: #fff;
        padding: 0;
        margin: .5em;
        font-size: 1em;
        border: none;
        background-color: #355039;
    }
}

input, select {
    width: 20em;
    height: 2.5em;
    padding-left: .5em;
    border-radius: 3px;
}

select option[disabled]

input[type="checkbox"] {
    width: 2.5em;
}

textarea {
    width: 20em;
    height: 5em;
    border-radius: 3px;
}

.app {
    $menu-width: 10em;
    display: flex;
    flex-wrap: wrap;

    .menu {
        margin-right: 1em;

        .menu__item {
            margin-bottom: .5em;
        }
    }

    .content {
        border-radius: 3px;
        background-color: #d4d4d4;
        width: calc(100% - #{$menu-width});

        .title {
            color: #fff;
            padding: .5em;
            text-align: center;
            font-weight: 700;
            background-color: #848282;
            text-transform: uppercase;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
}

.btn {
    width: 10em;
    height: 2.5em;
    font-size: .9em;
    line-height: 2.5em;
    border-radius: 3px;
    text-align: center;
    background-color: #555;
    box-shadow: inset 0px 0px 10px 1px rgba(232, 220, 220, 0.75);

    &:hover {
        box-shadow: inset 0px 0px 20px 1px rgba(232, 220, 220, 0.75);
        cursor: pointer;
    }

    a {
        color: #fff;
        display: block;
    }
}

*[contenteditable='true']:hover {
    &:after {
        content: '';
        left: .5em;
        width: 1em;
        height: 1em;
        position: relative;
        display: inline-block;
        background: url(../images/edit.png) no-repeat;
        background-size: contain;
    }

    &:focus:after {
        display: none;
    }
}