.header {
    width: 100%;
    color: #fff;
    height: 3.7em;
    display: flex;
    padding: .5em 0 .5em 10em;
    align-items: center;
    justify-content: space-between;

    input, select {
        width: 10em;
    }

    .header__info {
        font-size: .9em;
    }

    .header__search {
        margin-left: 1em;

        label {
            font-size: .9em;
            margin-right: 1em;
        }
    }
}