.ticket-in-column {
    border: 1px solid #d4d4d4;
    background-color: #d4d4d4;
    padding: .3em;
    margin-bottom: .3em;
    cursor: move;

    &:hover {
        cursor: move;
        box-shadow: inset 0px 0px 100px 3px rgba(85, 85, 85, 0.5);
    }

    &.match-search {
        background-color: #c2ece2;
    }

    .ticket-in-column__row {
        display: flex;
        justify-content: space-between;

        &:first-child {
            margin-bottom: .5em;
        }

        &:last-child {
            align-items: flex-end;
        }
    }

    .ticket-in-column__title {
        font-size: .8em;
        width: calc(100% - 4.5em);
    }

    .ticket-in-column__assignee {
        width: 1.8em;
        height: 1.8em;
        background: url(../images/user.png) no-repeat;
        background-size: contain;
        opacity: .8;
    }

    .ticket-in-column__assignee,
    .ticket-in-column__title {
        cursor: auto;
    }

    .controls__to-backlog,
    .controls__remove {
        cursor: pointer;
    }

    .controls {
        display: flex;
        width: 3.5em;

        .controls__to-backlog,
        .controls__remove {
            width: 2em;
            height: 1.5em;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }

        .controls__to-backlog {
            background: url(../images/archive.png) no-repeat;
            background-size: contain;
            margin-right: .5em;
        }

        .controls__remove {
            background: url(../images/remove.png) no-repeat;
            background-size: contain;
        }
    }
}