.ticket {
    padding: .5em;
    display: flex;

    .ticket__info {
        flex: 3;

        .row {
            display: flex;
            margin: 1em 0;
            align-items: center;

            .col-20 {
                width: 20%;
                font-weight: 700;
            }

            .col-80 {
                width: 80%;
                display: flex;
                align-items: center;
            }

            &.new-comment .btn {
                margin: 0 1em;
            }
        }
    }

    .ticket__controls {
        flex: 1;
        display: flex;
        margin-top: 1em;
        align-items: center;
        flex-direction: column;
    }

    .hotkey {
        margin-bottom: 1em;
        text-align: center;
        font-size: .9em;

        code {
            font-weight: 700;
        }
    }

    .btn {
        color: #fff;
        margin-bottom: 1em;
        background-color: rgba(85, 85, 85, .9);
    }

    textarea {
        height: 2.5em;
    }

    .comment {
        margin-bottom: 1em;
    }
}