.tickets__header,
.ticket-in-list {
    display: flex;
    width: 100%;

    span {
        flex: 1;
        text-align: center;
    }

    .ticket-in-list__actions {
        display: flex;

        span:hover {
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.tickets__header {
    font-weight: 700;
    padding: .5em 0;
    margin-top: 1em;
    background-color: #b9b6b6;
    border-bottom: 1px solid #848282;
}

.ticket-in-list {
    padding: .5em 0;
    border-bottom: 1px solid #848282;
}

.tickets__filters {
    display: flex;
    justify-content: space-around;

    .tickets__filter {
        text-align: center;
        margin: 1em .5em 0;

        select {
            margin-left: 1em;
        }
    }
}