.users {
    padding: 1em;

    .user {
        display: flex;
        margin-bottom: 1em;
        justify-content: space-around;

        &.default {
            font-weight: 700;
        }

        .user__prop {
            flex: 1;

            &.delete:hover {
                cursor: pointer;
                font-weight: 700;
            }
        }
    }
}